<ion-header>
  <ion-toolbar color="secondary">
    <ion-title appHighlight>Quais são seus produtos?</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>


    <section class="categories-section">
      <h2 class="section-title">Categorias</h2>
      <div class="categories">
        <div class="category-item" *ngFor="let category of categories">
          <img [src]="category.image" [alt]="category.name" class="category-image" />
          <p class="category-name">{{ category.name }}</p>
        </div>
      </div>
    </section>


    <ion-row>
      <ion-col size="12">
        <h2 class="title">Título</h2>
        <ion-item>
          <ion-input placeholder="Ex: Pizza Calabresa"></ion-input>
        </ion-item>
        <h2 class="title">Descrição</h2>
        <ion-item>
          <ion-textarea placeholder="Descreva o produto..."></ion-textarea>
        </ion-item>
        <h2 class="title">Preço (R$)</h2>
        <ion-item>
          <ion-input
            type="text"
            placeholder="Ex: 25.90"
            appCurrencyBrlMask
          ></ion-input>
          <p *ngIf="price !== null">{{ price | currencyBrl }}</p>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12" class="upload">
        <ion-button expand="block" fill="outline" class="upload-btn">
          <ion-icon name="camera-outline" slot="start"></ion-icon>
          Adicionar fotos
        </ion-button>
        <p class="upload-hint">JPG, GIF e PNG</p>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="tertiary">Anunciar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="secondary">
      <ion-tab-button tab="home" routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Início</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="search" routerLink="/map">
        <ion-icon name="search-outline"></ion-icon>
        <ion-label>Busca</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="sell" routerLink="/announce">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Quero Vender!</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="messages">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Mensagens</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="cart" routerLink="/cart">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Carrinho</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
