// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #FED3A9; 
    --ion-color-secondary: #FDA561;
    --ion-color-tertiary: #FC8E3F;
  }