<ion-header>
  <ion-toolbar style="background-color: var(--color-primary);">
    <ion-buttons slot="start">
      <ion-back-button style="color: var(--color-secondary);"></ion-back-button>
    </ion-buttons>
    <ion-title>Anunciar Produto</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
    <h2>Formulário para Anunciar um Produto</h2>
    <ion-item>
      <ion-label position="floating">Nome do Produto</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Preço</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-button expand="full" color="primary">Anunciar</ion-button>
  </ion-content>
  