<ion-content>
  <div class="main-container">

    <div class="search-section">
      <ion-searchbar placeholder="Buscar"></ion-searchbar>
    </div>
    <p class="address">📍 Endereço</p>

    <div class="offers-section">
      <h2 class="section-title">Ofertas</h2>
      <img src="assets/images/Ofertas.png" alt="Ofertas de hoje" class="offers-image" />
    </div>

    <section class="categories-section">
      <h2 class="section-title">Categorias</h2>
      <div class="categories">
        <div class="category-item" *ngFor="let category of categories">
          <img [src]="category.image" [alt]="category.name" class="category-image" />
          <p class="category-name">{{ category.name | capitalize }}</p>
        </div>
      </div>
    </section>
    

    <section class="near-you-section">
      <h2 class="section-title">Pertinho de você</h2>
      <div class="near-you-carousel">
        <div class="near-you-item" *ngFor="let item of nearYouItems">
          <img [src]="item.image" [alt]="item.alt" class="near-you-image" />
        </div>
      </div>
    </section>

  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom" color="tertiary">
      <ion-tab-button tab="home" routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Início</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="search" routerLink="/announced">
        <ion-icon name="search-outline"></ion-icon>
        <ion-label>Busca</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="sell" routerLink="/announce">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Quero Vender!</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="messages">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Mensagens</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="cart" routerLink="/cart">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Carrinho</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
